{% extends 'base.html' %}

{% block title%}Edit Entry{% endblock title%}

{% block content%}
<h1 class="text-center mt-5" style="font-family:fantasy;">Edit {{ entry.name }}</h1>


<form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control", value=entry.name) }}

        {{ form.phone_number.label }}
        {{ form.phone_number(class="form-control", value=entry.phone_number) }}

        {{ form.email.label }}
        {{ form.email(class="form-control", value=entry.email) }}

        {{ form.street_address.label }}
        {{ form.street_address(class="form-control", value=entry.street_address) }}

        {{ form.city.label }}
        {{ form.city(class="form-control", value=entry.city) }}

        {{ form.state.label }}
        {{ form.state(class="form-control", value=entry.state) }}

        {{ form.submit(class="btn btn-danger w-100 mt-3") }}
    </div>
</form>
{% endblock content%}