{% extends 'base.html' %}

{% block title%}Home{% endblock title%}


{% block content%}
<div class="alert alert-light text-center mt-5" role="alert" style="color:rgba(0, 0, 0, 0.911);">
    <h1 class="alert-heading" style="font-family:fantasy;">Welcome to PHONEBOOK</h1>
    <hr>
    <h3 class="text-center" style="font-family:'Franklin Gothic Medium', 
        'Arial Narrow', Arial, sans-serif ;">Do you still like using a phonebook, 
        but you want to take it to the next level?</h3>
    <hr>
    <h4 class="text-center" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">Head over to the 
        ADD ENTRY page to get started adding contacts!<br>
    </h4>
</div>
{% endblock content%}