{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
<h1 class="text-center mt-5" style="font-family: 'Berkshire Swash', cursive;">LOGIN HERE</h1>
<hr>

<form method="post">
    {{ form.csrf_token }}
    <div class="form-group d-flex-column">

        <b>{{ form.username.label(style="font-family: 'Aboreto', 'cursive';") }}</b>
        {{ form.username(class="form-control mb-3", placeholder ="Enter Username") }}

        <b>{{ form.password.label(style="font-family: 'Aboreto', 'cursive';") }}</b>
        {{ form.password(class="form-control mb-3", placeholder ="Enter Password") }}

        {{ form.submit(class='btn text-light w-100 mt-3', style="font-family: 'Aboreto', 'cursive'; background-color: #07472F;") }}

    </div>
</form>
{% endblock content %}