{% extends 'base.html' %}

{% block title %} Sign Up {% endblock title %}

{% block content %}
<h1 class="text-center mt-5" style="font-family:fantasy;">Sign Up Here!</h1>

<form method="post"> 
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class='form-control', placeholder='Enter Email') }}

        {{ form.password.label }}
        {{ form.password(class='form-control', placeholder='Enter Password') }}

        {{ form.confirm_pass.label }}
        {{ form.confirm_pass(class='form-control', placeholder='Confirm Password') }}

        {{ form.submit(class='btn btn-danger w-100 mt-3')}}
    </div>
</form>


{% endblock content %}